
<header class="container-fluid"style="background-color:var(--blueL);">
<div class="row">




<div class="col-md-2 d-flex justify-content-center">


  <a href="" class="mt-2">
            <img src="assets/logo.png" alt="Virtual Livre" class="img-responsive img-thumbmail" style="max-width: 100%; max-height:100px;display: block;">

    </a>
</div>
<div class="col-md-6 ">
<div class="input-group">
  <input type="text" class="form-control mt-4" placeholder="Buscar produtos marcas e muito mais...">
  <button class="btn btn-default mt-4" type="button" style="background-color:var(--blueM);">?</button>


</div>
</div>

<div class="col-md-2 d-flex justify-content-center ">

<div class="btn-group" role="group"  aria-label="...">

  <button type="button" class="btn btn-default mt-4"style="background-color:var(--blueM);" >Meu Carrinho</button>
</div>

</div>

</div>

<div class="row ">

  <div class="d-flex justify-content-center">

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Categorias
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Casa</a></li>
        <li><a href="#">Tecnologia</a></li>
        <li><a href="#">Construção</a></li>
        <li><a href="#">Moda</a></li>
      </ul>
    </div>


  <a class="btn btn-default" href="#" role="button">Novidades</a>
  <a class="btn btn-default" href="#" role="button">Ofertas</a>
  <a class="btn btn-default" href="#" role="button">Mais Vendidos</a>

  </div>


</div>


</header>



<router-outlet></router-outlet>








