img{
max-height: 250px;
max-width: 100% ;
min-height: 250px;
}

a{
  text-decoration: none;
 text-align: center;
 border: 1px solid rgb(122, 122, 117);
 margin-bottom: 5px;
 border-radius: 2%;
}

h5{
text-overflow: ellipsis;
color:rgb(122, 122, 117);
}
p{
  font-size: 22px;
  text-align: left;
  margin-left: 15px;
  color: rgb(15, 15, 15);
  font-weight:500;
  background-color: azure;
}
.title{
max-width: 500px;
max-height:50px;
white-space: pre-line;
 overflow: hidden;
 text-align: left;

}
