

<div class="container mt-5">
    <div class="row">

    <a class="col-xs-6 col-md-3 "href="" *ngFor="let explore of finproducts" >
        <img [src]="explore.imagePath" alt={{explore.name}} class="img-responsive img-rounded center-block mt-1">
        <hr>
        <div class="title">
          <h5>{{explore.name}}</h5>
        </div>
        <p >R$ {{explore.Price}}</p>

          </a>
      <div class="carousel-caption">

      </div>
    </div>




    </div>




<div class="container mt-5">


<div class="row">

  <a class="col-xs-6 col-md-3 "href="" *ngFor="let product of products" >
<img [src]="product.imagePath" alt={{product.name}} class="img-responsive img-rounded center-block mt-1">
<hr>
<div class="title">
  <h5>{{product.name}}</h5>
</div>
<p >R$ {{product.Price}}</p>

  </a>
</div>


</div>


